@font-face {
	font-family: "Maple Mono";
	src: url("./fonts/MapleMonoNormalNL[wght].ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "Maple Mono";
	src: url("./fonts/MapleMonoNormalNL-Italic[wght].ttf") format("truetype");
	font-weight: 100 900;
	font-style: italic;
}

body {
	color: hsl(252, 87%, 16%);
	background-color: hsl(251, 98%, 91%);
	font-family: "Maple Mono", monospace;
	font-size: 20px;
	line-height: 1.5;
	margin: 20px;
	padding: 0;
}
